{% extends 'base.html' %}

{% block title %}
РЎС‚СЂР°РЅРёС†Р° РїСЂРѕ РЅР°СЃ
{% endblock %}

{% block body %}
<div class="container">
    <h1>Р”РѕР±Р°РІР»РµРЅРёРµ СЃС‚Р°С‚СЊРё</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Р’РІРµРґРёС‚Рµ РЅР°Р·РІР°РЅРёРµ"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Р’РІРµРґРёС‚Рµ Р°РЅРѕРЅСЃ"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Р’РІРµРґРёС‚Рµ РѕСЃРЅРѕРІРЅРѕР№ С‚РµРєСЃС‚"></textarea><br>
        <input type="submit" class="btn btn-success" value="РћС‚РїСЂР°РІРёС‚СЊ">
    </form>
</div>
{% endblock %}