{% extends 'base.html' %}

{% block title %}
Р’СЃРµ СЃС‚Р°С‚СЊРё РЅР° СЃР°Р№С‚Рµ
{% endblock %}

{% block body %}
<div class="container">
    <h1>Р’СЃРµ СЃС‚Р°С‚СЊРё РЅР° СЃР°Р№С‚Рµ</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Р”Р°С‚Р°: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Р”РµС‚Р°Р»СЊРЅРµРµ</a>
        </div>
        {% endfor %}
    {% else %}
    <p>РЈ РЅР°СЃ РµС‰С‘ РЅРµС‚ СЃС‚Р°С‚РµР№ РЅР° СЃР°Р№С‚Рµ</p>
    {% endif %}
</div>
{% endblock %}